REDIS_HOST=localhost
REDIS_PORT=16379
REDIS_QUEUE=fintrack_queue

# Postgres
DATABASE_URL=postgresql://user:password@db:5432/fintrack
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=fintrack

# LLM / AI
LLM_BASE_URL=http://your-desktop-ip:11434/v1
OPENAI_API_KEY=not-needed
LLM_MODEL=llama3
EMBEDDING_MODEL=all-minilm
